

canvas {
  position: fixed;
  width: 20vw;
  height: 20vw;
  background-color: #ffffff;
}

body,html {
  background-color: #ffffff;
  overflow: hidden;
  height:100%;
  margin:0;
}


#coverImg {
  background-color: #ffffff;
  max-width: 100vw;
  z-index: -1;
  position: fixed;
  bottom: 0%;
}

#logoImg {
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  width: 40vw;
}


#titleText {
  position: fixed;
  top: 12%;
  width: 100vw;
  text-align: center;
}

#ribbonImg {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 30vw;
  transform: translate(-50%, -50%);
  transition: transform 1s;
  z-index: 3;
}

.ribbon{
  position: fixed;
  top: 50%;
  width: 50vw;
  padding: 2vh;
  background-color: #D01114!important;
  transform: translateY(-150%);
  transition: transform 3s;
  z-index: 2;
}

#ribbonLeft{
    left: 0;
    transform-origin: 0 100%;
}

#ribbonRight{
    right: 0;
    transform-origin: 100% 0;
}

#videoWrap {
  position: fixed;
  top: 100%;
  left: 50%;
  height: 0vh;
  transform: translate(-50%, -66%);
  opacity: 0.8;
  transition: opacity 2s;
  transition: height 5s !important;
  transition: filter 4s;
  z-index: 1;
}

#video{
  height: 115vh;
  width:100vw;
}

.ribbon:hover, #ribbonImg:hover {
  cursor: url("assets/scissors.png"), auto;
}

#mainText {
  position: fixed;
  bottom: 5%;
  width: 100vw;
  text-align: center;
}
#mainText h1{
  font-size: 2.5em !important;
  color: yellow;
}
p {
  color: #0A1172;
  font-size: 2rem;
  font-weight:bolder; 
}
#occassion{
  color: #0A1172;
  font-size: 2.5rem;
  font-weight:bolder;
}
#tagline{
  color:white;
}
#jyanti{
  color:white;
  font-size: 2.7rem;
  font-weight: bold;
}

h1 {
  margin-top: -2vh;
  font-size: 3rem !important;
}
#Tline{
  font-size:2em;
}

#logo{
  height:12vh;
  margin-top: 1vh;
}
#glogo{
  text-align: right;
  height:12vh;
}
#alogo{
  text-align: right;
  height:15vh;
  margin-left: 70vw;
}
#venueText{
    position: fixed;
  bottom: 0%;
  width: 100vw;
  /* font-size: 1.5rem; */
  text-align: center;
}



.bgimg {
  background-image: url('assets/landing.jpg');
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  background-color: #0000008a;
}

.topleft {
  position: absolute;
  top: 0;
  left: 16px;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

hr {
  margin: auto;
  width: 40%;
}
#alogo{
  position: relative;
  bottom: 116px;
  left: 293px;
}
.occ1{
  padding-top: 2rem;
  font-size: 1.6em;
}
.lets{
  font-size: 1.6em;
}